* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}

img {
    width: 100px;
    height: 100px
}

#opening-paragraph {
    background-color: #7f6c59;
    color: #ecf0f1;
    fill: #ecf0f1;
}

#center-opening {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#row-opening {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}

#insta-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#title-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#border-box-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#aline-img {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#text-opening {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#aline-center-insta-pink {
    margin: 0px;
}

#inst-white {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
}

#header-content {
    padding-bottom: 0 !important;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#header-itens-alignment-part-one {
    align-items: center !important;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#logo-img-header {
    text-align: center !important;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#img-header-logo-delirius {
    width: 200px;
    height: 200px;
}

#input-header {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    padding-right: 0;
    padding-left: 0;
    text-align: center !important;
}

#center-aline-input {
    padding-left: 20%;
    display: block;
    margin-top: 0em;
}

#row-input-initial {
    position: relative;
    width: 100%;
    margin: 0 !important;
}

#box-pesquisa-header {
    font-size: 20px;
    padding-right: 30px;
    color: #7f6c59;
    border: 1px solid #7f6c59;
    border-radius: 10px;
    display: block;
    padding: 12px;
    width: 100%;
    -moz-appearance: none;
    appearance: none;
    fill: #7f6c59;
    background-color: #ecf0f1;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#icon-iput-placeholder {
    width: 30px;
    height: 30px;
    position: relative;
    left: 140px;
    bottom: 40px;
}