* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}

img {
    width: 100px;
    height: 100px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

#opening-paragraph {
    background-color: #7f6c59;
    color: #ecf0f1;
    fill: #ecf0f1;
}

#center-opening {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#row-opening {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}

#insta-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#title-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#border-box-opening {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#aline-img {
    position: relative;
    width: 33%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#text-opening {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

#aline-center-insta-pink {
    margin: 0px;
}

#inst-white {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

#header-content {
    padding-bottom: 0 !important;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#header-itens-alignment-part-one {
    align-items: center !important;
    margin-right: 0;
    margin-left: 0;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#logo-img-header {
    text-align: center !important;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#img-header-logo-delirius {
    width: 200px;
    height: 200px;
}

#input-header {
    position: relative;
    width: 42%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    text-align: center !important;
}

#center-aline-input {
    padding-left: 10%;
    display: block;
    margin-top: 0em;
}

#row-input-initial {
    position: relative;
    width: 100%;
    margin: 0 !important;
    top: 13px;
}

#box-pesquisa-header {
    font-size: 20px;
    padding-right: 30px;
    color: #7f6c59;
    border: 1px solid #7f6c59;
    border-radius: 10px;
    display: block;
    padding: 12px;
    width: 100%;
    -moz-appearance: none;
    appearance: none;
    fill: #7f6c59;
    background-color: #ecf0f1;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#icon-iput-placeholder {
    width: 20px;
    height: 20px;
    position: relative;
    left: 220px;
    bottom: 35px;
    cursor: pointer;
}

#header-options {
    padding-right: 0;
    padding-left: 0;
    color: #7f6c59;
    fill: #7f6c59;
    position: relative;
    min-height: 1px;
    text-align: center;
    width: 33%;
}

#header-span-border-box {
    text-align: center;
}

.options {
    width: 32%;
    display: inline-block;
    font-size: 18px;
    padding: 5px;
}

.aline-ul-header {
    width: 100%;
    display: inline-block;
    position: relative;
}

.header-itens-alignment-part-two {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ecf0f1;
    text-align: center;
}

.header-item-list-part-two {
    display: inline-block;
    position: initial;
    padding: 0 10px;
    text-align: center;
}

.header-menu-links-part-two {
    padding: 0 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #7f6c59;
}

#section-one-of-images {
    height: 100%;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.image-transition-section-one {
    width: 443px;
    height: 500px;
    margin-left: 2px;
}

#div-arrow-left {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 1278px;
}

#div-arrow-right {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 21px;
}

#arrow-left-img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

#arrow-right-img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    cursor: pointer;
    mix-blend-mode: multiply;
}

.section-two-for-payment {
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    padding: 50px 0;
}

.container-2 {
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    list-style: none;
}

.p-0 {
    padding: 0 !important;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}

.col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100px;
    height: 70px;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
}

.img-col-auto {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.p-0 {
    padding: 0 !important;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.div-banners {
    margin-bottom: 35px;
}

.product-presentation {
    margin-bottom: 70px;
    position: relative;
}

.container-apresentation-section-four {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.alignment-of-items-section-four {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center {
    text-align: center !important;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 35px;
}

.h1 {
    margin-top: 0;
    font-family: "Lora", serif;
}

.item {
    -webkit-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.item {
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.item-image {
    position: relative;
    overflow: hidden;
    max-height: 390px;
}

.fade-in.lazyloaded {
    opacity: 1;
}

.item-image-primary {
    height: 100%;
    width: auto;
    max-height: 390px;
}

.item-image-secondary {
    opacity: 0;
}

.img-absolute-centered {
    left: 50%;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(0%) !important;
    -ms-transform: translateX(-50%) !important;
}

.img-absolute {
    left: 0;
    width: auto;
    height: auto;
    vertical-align: middle;
    text-indent: -9999px;
    z-index: 1;
}

.fade-in {
    opacity: 0;
    transition: opacity .2s;
}

.position-relative {
    position: relative !important;
}

.py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.section-featured-home {
    position: relative;
    margin-bottom: 70px
}

.alignment-items-section-five {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-evenly;
    align-content: flex-start;
}

.col-14 {
    text-align: center !important;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#title-section-five {
    font-family: "Lora", serif;
    display: block;
    font-size: 1.17em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.p-0 {
    padding: 0 !important;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.js-swiper-new {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.p-md-2{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.swiper-container-initialized {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -o-transition-property: transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition: all 0ms ease 0s;
}



















@media (min-width: 576px) {
    .container-apresentation-section-four {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-apresentation-section-four {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-apresentation-section-four {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-apresentation-section-four {
        max-width: 1140px;
    }
}

@media (min-width: 768px) {

    .h1-md {
        font-size: 34px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .h3 {
        font-size: 20px;
        font-weight: 700;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 768px) {
    .item-product:hover .item-description {
        border-bottom: 1px solid transparent;
    }

    .item-description {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
}

@media (min-width: 1200px) {
    .alignment-items-section-five {
        max-width: 1140px;
    }
}

@media (min-width: 992px) {
    .alignment-items-section-five {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .alignment-items-section-five {
        max-width: 720px;
    }
}

@media (min-width: 576px) {
    .alignment-items-section-five {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .h1-md {
        font-size: 34px;
        font-weight: 700;
    }

    .h1 {
        font-size: 34px;
        font-weight: 700;
    }

    .h3 {
        font-size: 20px;
        font-weight: 700;
    }
}

@media (min-width: 768px) {
    .p-md-1 {
        padding: 0.25rem !important;
    }
}