* {
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Cormorant Garamond', serif;
}

.hidden-box {
    width: 50px;
    height: 50px;
    background-color: azure;
}

.cell-phone{
    width: 25px;
    height: auto;
    margin-bottom: 10px;
}

.email{
    
}